# ====================
# DEPENDÊNCIAS
# ====================
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# ====================
# COMPILAÇÃO E PRODUÇÃO
# ====================
/build
/.next/         # Next.js
/out/           # Next.js export
/dist/          # Expo web
/web-build/     # Expo web

# ====================
# EXPO E METRO
# ====================
.expo/
.metro-health-check*

# ====================
# TESTES
# ====================
/coverage

# ====================
# DEBUG
# ====================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-debug.*
yarn-debug.*
yarn-error.*

# ====================
# SISTEMAS OPERACIONAIS
# ====================
.DS_Store        # macOS

# ====================
# CREDENCIAIS E CHAVES
# ====================
*.pem
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ====================
# AMBIENTES LOCAIS
# ====================
.env
.env*.local

# ====================
# VERCEL
# ====================
.vercel

# ====================
# TYPESCRIPT
# ====================
*.tsbuildinfo
next-env.d.ts

